doctype html
html
    head
      meta(charset='UTF-8')
      title Recipe Book 
      link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
    body
      block content
     
    
      script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js')
      script(src='/js/login.js')
      script(src='/js/createRecipe.js')
      script(src='/js/deleteRecipe.js')
      script(src='/js/logout.js')
      script(src='/js/register.js')




        
      