.container.mt-3
  .row
    .col-md-4
      .card.mb-4.text-white.bg-dark
        img.card-img-top(src='img/pizzaJPEG.jpg' alt='Card image cap')
        .card-body
          h5.card-title Jerry Flatearth
          p.card-text Classic Philly Cheesesteak Sandwich
          a.btn.btn-outline-light.btn-sm(href='http://www.jquery2dotnet.com/') View Recipe

