extends base
block content
    .container
        form.form2
            .form-group
                label(for='InputName') Name
                input#Name.form-control(type='text' placeholder='Name')
            .form-group
                label(for='InputEmail') Email address
                input#Email.form-control(type='email' aria-describedby='emailHelp' placeholder='Enter email')
            .form-group
                label(for='InputPassword') Password
                input#Password.form-control(type='password' placeholder='Password')
            .form-group
                label(for='InputPasswordConfirm') Confirm Password
                input#PasswordConfirm.form-control(type='password' placeholder='Confirm Password')

            button.btn.btn-primary(type='submit') Register

            p.lead Already a user? 
                a.btn.btn-link.btn-lg(href='http://127.0.0.1:8000/api/v1/view/login' role='button') Login!
